.custom-slider {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
  }
  
  .custom-slider p {
    background-color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  
  
  .rs-carousel-label-wrapper > .rs-carousel-label {
    background-color: #D3D3D3;
  }
  

  